body, input, button {
    font-family: Montserrat;
    color: #A8B2B9;
}

main {
    padding: 48px;
}

:root {
    --red: #ED5454;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    background-color: #FCFBFC;
}

.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}

.calendar__week,
.calendar__header {
    display: grid;
    grid-template-columns: repeat(7, calc(100% / 7));
}

.calendar__week.full,
.calendar__header.full {
    grid-template-columns: 100%;
}

.calendar__day:first-child,
.calendar__day:last-child {
    background: #EEEEEE;
}

.calendar__day.full {
    background: none;
}

.calendar__week {
    grid-auto-rows: 100px;
    text-align: right;
}

.calendar__week.week__view,
.calendar__week.day__view{
    grid-auto-rows: 70vh;
}

.calendar__header {
    grid-auto-rows: 50px;
    align-items: center;
    text-align: center;
}

.calendar__day {
    padding: 16px;
}

.calendar {
    background-color: white;
    border: 1px solid #e1e1e1;
}

.calendar__header > div {
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: bold;
    background: #e1e1e14a;
    padding: 18px;
}

.calendar__day {
    border-right: 1px solid #e1e1e1;
    border-top: 1px solid #e1e1e1;
}

.calendar__day.disabled {
    background: #e1e1e14a;
    cursor: not-allowed;
}

.calendar__day:last-child {
    border-right: 0;
}

.toggle {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    font-size: 0.9em;
}

.toggle__option {
    padding: 16px;
    border: 1px solid #e1e1e1;
    text-transform: capitalize;
    cursor: pointer;
}

.toggle__option:first-child {
    border-right: 0;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.toggle__option:last-child {
    border-left: 0;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.toggle__option.active{
    border-color: white;
    background-color: white;
    color: var(--red);
    font-weight: 500;
    box-shadow: 1px 2px 30px -5px var(--red);
}

.event input {
    line-height: 1.5;
}

.event__title h2 {
    margin: 0px;
}

.event__texts {
    display: flex;
    margin-right: 10px;
}

.event__form {
    display: flex;
}

.event__form .event__time {
    display: block;
    height: 32px;
}

.event__text {
    border: 1px solid #e1e1e1;
    padding: 4px;
    margin: 0px;
}

#startTime {
    border: none;
    border: 1px solid #e1e1e1;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
}

#endTime {
    border: none;
    border: 1px solid #e1e1e1;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
}

.event__text:first-child {
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
}

.event__text:last-child {
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
}

#button__save {
    padding: 8px;
    border: 1px solid #e1e1e1;
    text-transform: capitalize;
    cursor: pointer;
    border-radius: 8px;
    margin-left: 10px;
}